<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anagha N</title>
</head>
<body bgcolor="#EAFDFC">
<center><h1><font color="1C315E">Anagha N</font></h1></center>
<center>I <font color="red"> ❤</font> coding and listening to Taylor Swift</center>
<hr color="82C3EC">
<h3><font color="460C68">Email: ______________</font> </h3>
<h3><font color="460C68">Phone: *************</font> </h3>
<hr color="82C3EC">
<h2><font color="#227C70">Skills</font></h2>
<!--<img align = "right" src="static/smiley.png" width="200" height="200" alt="Smiley face">-->
<table cellspacing="20">
    <tr>
<th><font size="4">Python</font></th>
    <th><font size="4">Data Structures</font></th></tr>

    <tr>
        <td>
            <ul>
        <li>Tkinter</li>
        <li>Pandas</li>
        <li>Numpy</li>
        <li>Requests</li>
        <li>BeautifulSoup</li>
        <li>smtplib</li>
            </ul>
        </td>
    <td>
        <ul>
        <li>Linked Lists</li>
        <li>Arrays</li>
        <li>Stack</li>
        <li>Queues</li>

        </ul>
    </td>
    </tr>
</table>
<hr color="82C3EC">
<h2><font color="#227C70">Projects</font></h2>
<dl>
    <dt>
        <a href="https://github.com/Anagha-N-19/Password-manager-app">Password Manager App</a>
    </dt>
    <dd>
        Python, Tkinter, filehandling<br>
An app with GUI that allows the user to save the passwords in a textfile.
    </dd>
    </dl>
<dl>
    <dt><a href="https://github.com/Anagha-N-19/Flashcard-App">Flashcard App</a></dt>
<dd>Python, Tkinter, Pandas<br>
A flashcard app to learn French words and the English meaning
</dd>
</dl>
<dl>
    <dt>
<a href="https://github.com/Anagha-N-19/Pomodoro-Technique-using-Tkinter">Pomodoro Technique App</a>
    </dt>
    <dd>
Python, Tkinter<br>
A python app with GUI for the Pomodoro technique, with timer for breaks and work time.

    </dd>
</dl>
<dl>
    <dt>
        <a href="https://github.com/Anagha-N-19/Fun-Projects">Fun Projects</a>
    </dt>
    <dd>
Python, OOP, Tkinter, Pandas, BeautifulSoup, smtplib, API requests and more.<br>
A set of 17 projects, includes a variety of topics covered while implementing.

    </dd>
</dl>
<dl>
    <dt>
<a href="https://github.com/Anagha-N-19/Spotify-playlist-generating-time-machine">Spotify Automatic Playlist generator</a>
    </dt>
    <dd>
Spotipy, API requests, BeautifulSoup<br>
Generates a spotify playlist and it's link for a particular input date. The top 100 Billboard
songs are taken for this.

    </dd>
</dl>
<dl>
    <dt>
<a href="https://github.com/Anagha-N-19">And other projects uploaded on GitHub</a>
    </dt>
</dl>
<hr color="82C3EC">
<h2><font color="#227C70">Certificates</font></h2>
<ul>
    <li>Python Programming for Everybody by University of Michigan</li>
    <li>Data Structures and Algorithms</li>
</ul>
</body>
</html>
